*{
    margin:0;
    padding:0;
    box-sizing: border-box;  
  }
  
    main{
      height: 100vh;
      display: flex;
      justify-content: space-between;
      font-size: 62.5%;
      font-family: 'Open Sans', sans-serif;
      background-color: #6224aa;
      position: relative;
  }
  
  
  /* event creation side */
  .create-events{
      right : 1rem;
      position: relative;
      display:flex;
      justify-content: center;
      align-items: center;
  }
  
  .create-events form{
      width:35%;
      top: 10rem;
      right:5rem;
      position: fixed;
      color: white;
      display:flex;
      flex-direction: column;
      justify-content: space-evenly;
      background-color: #36096d;
      background-image: linear-gradient(315deg, #36096d 0%, #37d5d6 74%);
      padding : 4em 2em;
      margin: 2rem 1rem;
      border-radius: 5px;
     /* From https://css.glass */
   background: rgba(255, 255, 255, 0.02);
   border-radius: 16px;
   box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
   backdrop-filter: blur(1.7px);
   -webkit-backdrop-filter: blur(1.7px);
   border: 1px solid rgba(255, 255, 255, 0.52);
  }
  
  .create-events label{
      font-size: 1.2rem;
      margin-top: 10px;
      font-weight: 700;
  }
  
  .create-events input{
      height: 1.5rem;
      padding: 1rem 0;
      padding-left: 0.5rem;
      font-size: 1rem;
      font-family: inherit;
  }

.create-events textarea{
    font-size: 1rem;
    padding-left: 0.5rem;
    font-family: inherit;
}

  .create-events h2{
      font-size : 1.7rem;
      margin: 0;
      text-align: center;
      color: white;
  }
  
   h3{
      margin-top: 1rem;
      font-size: 1rem;
  }
  
  .create-events #addbutton{
      margin-top: 1rem;
      font-size: 1rem;
      text-transform: uppercase;
      color:white;
      font-weight: 600;
      cursor: pointer;
      padding: 0.5rem 0;
      background: rgba(59,173,227,1);
    background: linear-gradient(45deg, rgba(59,173,227,1) 0%, rgba(87,111,230,1) 25%, rgba(152,68,183,1) 51%, rgba(255,53,127,1) 100%);
  }

  #addbutton:hover{
      background-color: #dad9d6; 
      font-weight: 550;
  }
  
  .choose-date-and-time {
      display: flex;
      justify-content: space-between;
  }
  
  .choose-date-and-time input{
      width: 150px;
  }
  
  
  /* event rendering side */
  
  .render-events{
      width: 50vw;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 1.5rem;
  }
  
  .rendered-event-container{
      display: flex;
      padding: 1em;
  }
  
  .rendered-event-container .date-side{
      background-color: #d13eee;
      color:white;
      font-size: 1rem;
      font-weight: 700;
      text-align: center;
      padding: 1em;
      border-radius: 5px 0 0 5px;
  }
  
  
  .rendered-event-container .title-side{
      background-color: white;
      color: #d503ff;
      font-size: 1rem ;
      font-weight: 500;
      text-align: center;
      padding: 1em;
      border-radius: 0 5px 5px 0;
  }
  
  
  /* delete button */
  #delete-event{
      position : fixed;
      bottom: 1rem;
      left : 2rem;
      width: 50px;
  }
  
  #delete-event img{
      width :50px;
  }
  
  /* draggable dates*/
  
  .hide{
      display : none;
  }

  .vibing{
      animation: notification 3s infinite;
  }

  @keyframes notification{
      5% { transform: rotate(10deg);}
      10% { transform: rotate(-10deg);}
      15% { transform: rotate(10deg);}
      20% { transform: rotate(0deg);}
      100% {transform: rotate(0deg);}
  }
  
  /* countdown container */
  .countdown-side{
      height: 100vh;
      width: 100vw;
      display:flex;
      justify-content: center;
      align-items: center;
      background-color: red;
      position: absolute;
      left:0;
      top:0;
    }

  .countdown-container{
      display: flex;
  }

  .box{
      font-family: 'Open Sans', sans-serif;
      width: 240px;
      height: 150px;
      background-color: black;
      color:white;
      margin-left: 0.5rem;
      font-size: 3rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
  }

