*{
    margin:0;
    padding:0;
    box-sizing: border-box;  
  }
  
    main{
      height: 100vh;
      display: flex;
      justify-content: space-between;
      font-size: 62.5%;
      font-family: 'Open Sans', sans-serif;
      background-color: #0096c7;
      position: relative;
  }
  
  
  /* event creation side */
  .create-events{
      right : 1rem;
      position: relative;
      display:flex;
      justify-content: center;
      align-items: center;
  }
  
  .create-events form{
      width:35%;
      top: 10rem;
      right:5rem;
      position: fixed;
      color: white;
      display:flex;
      flex-direction: column;
      justify-content: space-evenly;
      background-color: #36096d;
      background-image: linear-gradient(315deg, #36096d 0%, #37d5d6 74%);
      padding : 4em 2em;
      margin: 2rem 1rem;
      border-radius: 5px;
     /* From https://css.glass */
   background: rgba(255, 255, 255, 0.02);
   border-radius: 16px;
   box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
   backdrop-filter: blur(1.7px);
   -webkit-backdrop-filter: blur(1.7px);
   border: 1px solid rgba(255, 255, 255, 0.52);
  }
  
  .create-events label{
      font-size: 1.2rem;
      margin-top: 10px;
      font-weight: 700;
  }
  
  .create-events input{
      height: 1.5rem;
      padding: 1rem 0;
      padding-left: 0.5rem;
      font-size: 1rem;
      font-family: inherit;
  }

.create-events textarea{
    font-size: 1rem;
    padding-left: 0.5rem;
    font-family: inherit;
}

  .create-events h2{
      font-size : 1.7rem;
      margin: 0;
      text-align: center;
      color: white;
  }
  
   h3{
      margin-top: 1rem;
      font-size: 1rem;
  }
  
  .create-events #addbutton{
      margin-top: 1rem;
      font-size: 1rem;
      text-transform: uppercase;
      color:white;
      font-weight: 600;
      cursor: pointer;
      padding: 0.5rem 0;
      background: transparent;
      box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  }

  .choose-date-and-time {
      display: flex;
      justify-content: space-between;
  }
  
  .choose-date-and-time input{
      width: 150px;
  }
  
  
  /* event rendering side */
  
  .render-events{
      width: 50vw;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 1.5rem;
  }
  
  .rendered-event-container{
      display: flex;
      padding: 1em;
      cursor: pointer;
  }
  
  .rendered-event-container .date-side{
      background-color: #275da3;
      color:white;
      font-size: 1rem;
      font-weight: 700;
      text-align: center;
      padding: 1em;
      border-radius: 5px 0 0 5px;
  }
  
  
  .rendered-event-container .title-side{
      background-color: white;
      color: #023e8a;
      font-size: 1rem ;
      font-weight: 500;
      text-align: center;
      padding: 1em;
      border-radius: 0 5px 5px 0;
  }
  
  
  /* delete button */
  #delete-event{
      position : fixed;
      bottom: 1rem;
      left : 2rem;
      width: 50px;
  }
  
  #delete-event img{
      width :50px;
  }
  
  /* draggable dates*/
  
  .hide{
      display : none;
  }

  .vibing{
      animation: notification 3s infinite;
  }

  @keyframes notification{
      5% { transform: rotate(10deg);}
      10% { transform: rotate(-10deg);}
      15% { transform: rotate(10deg);}
      20% { transform: rotate(0deg);}
      100% {transform: rotate(0deg);}
  }
  
  /* countdown container */
  .countdown-side{
      height: 100vh;
      width: 100vw;
      display:flex;
      justify-content: center;
      align-items: center;
      background-color: #48cae4;
      position: absolute;
      left:0;
      top:0;
    }

  .countdown-container{
      display: flex;
  }

  .box{
      font-family: 'Open Sans', sans-serif;
      width: 240px;
      height: 150px;
      background-color: black;
      color:white;
      margin-left: 0.5rem;
      font-size: 3rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    background: #90e0ef;
     border-radius: 16px;
    backdrop-filter: blur(3.6px);
    -webkit-backdrop-filter: blur(3.6px);
    border: 1px solid rgba(255, 255, 255, 0.52);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }

.countdown-title-side{
    position:absolute;
    top:150px;
    padding: 1rem 4rem;
    font-size: 1.5rem;
  background: rgba(42, 149, 182, 0.23);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3.2px);
   -webkit-backdrop-filter: blur(3.2px);
   border: 1px solid rgba(42, 149, 182, 0.52);
    text-align: center;
    color:white;
}

/* slide animation */
/* .animation{
    animation: slide_animation 5s ease-in;
    animation-iteration-count: 1;
} */

@keyframes slide_animation{
    0% {top: -300px;}
    10%{top: -200px;}
    20%{ top: -100px;}
    30% {top:0px;}
    40%{top:100px;}
    60%{top:200px;}
    80%{top:400px;}
    100%{bottom:-100px;}
}


.exit-button{
    position:absolute;
    right:2rem;
    top:3rem;
    width:50px;
    cursor: pointer;
}